.header {
  background: var(--primary-background-color);
}

.stripe {
  background: var(--theme-background-color);
}

.logo {
  padding: 0;
}

.logo a {
  display: block;
  width: 100%;
  height: 110px;
  background: url(../assets/joornalo_logo.png) no-repeat left center;
  background-size: 90% auto;
  text-indent: -1000px;
  z-index: 10;
}

.headerMobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  height: 51px;
  opacity: 1;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.mobileHeader .menu {
  width: 54px;
}

.mobileHeader .logo {
  flex: 1;
  padding: 0;
}

.mobileHeader .logo a {
  width: 100%;
  height: 50px;
  background-size: 100% 20px;
  background-position: 20px 7px;
  display: block;
  height: 50px;
  background-size: 150px;
}

.search-box {
  background: #fff;
  height: 26px;
  width: 180px;
  display: inline-block;
  float: right;
  margin-top: 16px;
  border: 1px solid #ccc;
}

.search-box input {
  font-size: 0.8rem;
  background: transparent;
  border: 0;
  padding: 0 0 0 0.5rem;
  outline: 0;
}

.search-icon {
  height: 20px;
  width: 20px;
  /* background: url(../../../images/icons/search.svg) no-repeat top left; */
  background-size: 16px;
  position: absolute;
  right: 16px;
  top: 21px;
  cursor: pointer;
}

.date {
  font-size: 0.8rem;
  text-align: right;
  color: var(--theme-alt-background-color);
  margin-top: 30px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.spacer {
  height: 60px;
}

.mobileHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  height: 51px;
  opacity: 1;

  background: #fff;
  border-bottom: 1px solid #ccc;
}

.mobileHeader .menu {
  width: 54px;
}



.mobileHeader .search {
  width: 54px;
  text-align: right;
}

.mobileHeader .menu,
.mobileHeader .search {
  @apply --joornalo-icon;
  cursor: pointer;
  color: #fff;
  font-size: 1.4rem;
  padding-top: 0.8rem;
}

.mobileHeader .menu:before {
  content: '\e9bd';
  padding-left: 0.8rem;
  color: #888;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
}

.mobileHeader .search:before {
  content: '\e986';
  padding-right: 0.8rem;
  color: #888;
  line-height: 1.8rem;
}

.advMobile {
  margin: 0 0 0.5rem;
}





/*********** Menu *************/


.menu {
  display: block;
  font-size: 0.9rem;
  height: 50px;
  background: var(--theme-background-color);
}

.menu ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding: 1px 0.5rem;
}

.menu li {
  display: inline-block;
  width: auto;
  padding: 0;
  margin-right: .5rem;
  padding: 1px 0;
  height: 24px;
}

.menu ol li {
  margin-right: .4rem;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: .2rem .5rem;
}

.menu li a:hover {
  color: var(--theme-background-color);
  background: #fff;
}

.menu ol {
  display: none;
  position: absolute;
  padding: 0;
  z-index: 11;
  top: 26px;
}

.menu .bg {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  width: calc(100% - 32px);
  margin-left: 16px;
  background: var(--theme-alt-background-color);
  height: 25px;
  z-index: 10;
}

.menu li:hover .bg,
.menu li:hover ol {
  display: block;
}

.menu ul li:first-of-type .bg {
  display: block;
  z-index: 7;
}

.menu ul li:first-of-type ol {
  display: block;
  z-index: 8;
}

.menu .right {
  float: right;
}