.news {
  border-bottom: 1px solid#ddd;
  padding-bottom: 1rem;
}

.embed {
  float: left;
  margin: 0 1rem 0 0;
}

blockquote.twitter-tweet {
  background: #ccc;
}

.news img {
  max-width: 100%;
}

.NewsBlock h2 {
  font-size: 1rem;
  color: #333;
  margin: 0.2rem 0 .5rem;
  font-weight: 500;
  line-height: 1.3em;
}

.NewsBlock h2:hover {
  color: #cc0002;
}

/* .news .newsContent p:first-of-type:first-letter {
  font-size: 2rem;
  font-weight: bold;
} */


/* related-news */
.related-news {
  padding-bottom: 1rem;
}

.related-news img {
  cursor: pointer;
}

/* .most-viewed a,
.other-news a,
.related-news a {
  display: flex;
  cursor: pointer;
} */

/* .template-news1 .most-viewed,
.template-news1 .other-news {
  border-left: 1px solid#ddd;
  padding-left: 2rem;
}

.template-news2 .most-viewed,
.template-news2 .other-news {
  border-left: 1px solid#ddd;
  padding-left: 2rem;
} */
/* .most-viewed h2,
.other-news h2 {
  margin-top: 0;
  padding-top: 2rem;
} */

.most-viewed ul,
.other-news ul {
  padding: 0;
  margin: 0;
  margin: 1rem 0;
}

/* .most-viewed li, */
/* .other-news li {
  list-style-type: none;
  cursor: pointer;
  padding-bottom: 2rem;
} */

.front1 .NewsBlock h2 {
  font-size: 2rem;
  line-height: 2.2rem;
}

.front1 .NewsBlock div {
  font-size: 1.2rem;
}

.front2 {
  display: flex;
  margin: 0 -0.5rem;
}

.front2 .NewsBlock {
  flex: 1;
  padding: 0 0.5rem;
}


/* Top News */

.most-viewed {
  margin-bottom: 2rem;
}

.most-viewed li {
  list-style-type: none;
  margin-bottom: 1rem;
  display: flex;
  line-height: 1.2rem;
}

.most-viewed li span {
  color: #fff;
  border-radius: 50%;
  background: #cc0002;
  margin-right: 1rem;
  height: 1.6rem;
  width: 1.6rem;
  text-align: center;
  line-height: 1.7rem;
}

.most-viewed li div {
  flex: 1;
  margin-top: .2rem;
}

.most-viewed li a {
  color: #000;
}

.most-viewed li a:hover {
  color: #cc0002;
}

.most-viewed img {
  width: 100%;
  height: auto;
  margin-top: .2rem;
  cursor: pointer;
}


/* Other News */

.other-news {
  margin-bottom: 2rem;
}


.other-news li {
  list-style-type: none;
  margin-bottom: 1rem;
  display: flex;
  line-height: 1.2rem;
}

.other-news li a {
  flex: 1;
  flex-direction: column;
  color: #000;
}

.other-news li a:hover {
  color: #cc0002;
}

.other-news img {
  width: 40%;
  height: auto;
  margin-top: .2rem;
  float: left;
}

.other-news li div {
  width: 60%;
  display: inline-block;
  padding-left: .5rem;
  height: 100%;
  float: left;
}

/* Sections */
.sections1 .blockheader {
  margin-bottom: 1rem;
}

.sections1 .NewsBlock {
  flex: 1;
  padding: 0 1rem;
}

/* Opinion1 */

.opinion1 ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.opinion1 li {
  border-bottom: 1px dashed #ccc;
  padding: 0.4rem 0;
}

.opinion1 h5,
.opinion1 h6 {
  margin: 0;
  line-height: 1rem;
  font-weight: 600;
  margin: .4rem 0;
}

.opinion1 h6 {
  color: #3699AB;
  font-weight: 400;
}

.opinion1 h5 {
  font-weight: 500;
}

.opinion1 h5.title {
  font-weight: 200;
}

.opinion1 a {
  color: #333;
}

.opinion1 li:hover {
  background: #eee;
}